{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MiiM | {{ mi.keyword }}</title>
        <link rel="stylesheet" href="{% static 'sites/css/index.css' %}">
        <script type="text/javascript" src="{% static 'sites/js/index.js' %}"></script>
    </head>
    <body>
        <div id="Mi-tutorial" class="tutorial">
            好きなMi(キーワード)を入力しよう！<br>
            タグの評価や、お気に入り画像が保存されるよ！
        </div>
        <div id="upload-tutorial" class="tutorial">
            リンクを貼ると画像をアップロードできるよ！<br>
            アップロードするときに、好きなタグを1つつけれるよ！
        </div>
        <div id="tag-tutorial" class="tutorial">
            <p style="font-size:24px">タグを評価しよう！</p>
            <p>Memeに...</p>
            <div class="tag">
                <p>合ってる！</p>
                <div style="width:6px"></div>
                <input type="image" class="vote-tag-up" src="{% static 'sites/img/vote-tag-up.png' %}">
                <p class="tag-word" style="font-weight:normal;">test_taga2</p>
                <input type="image" class="vote-tag-down" src="{% static 'sites/img/vote-tag-down.png' %}">
                <div style="width:6px"></div>
                <p>合ってない！</p>
            </div>
            <p>
                合ってないタグは外されて<br>
                新しいタグがつけれるようになるよ！
            </p>
        </div>
        <div id="header">
            <p id="title">MiiM</p>
            <p id="catchcopy">ワンクリックでMemeを簡単コピー！</p>
        </div>
        <div id="menu">
            <div class="menu-row">
                <form action="" method="get">
                    <input type="text" name="mi" class="menu-item" placeholder="Mi...">
                </form>
                <div style="width:64px"></div>
                <input type="text" class="menu-item" placeholder="検索">
            </div>
            <div class="menu-row">
                <input type="text" id="upload-link" class="menu-item" placeholder="画像リンク...">
                <div style="width:64px"></div>
                <input type="text" id="upload-tag" class="menu-item" placeholder="タグ...">
                <div style="width:64px"></div>
                <a class="menu-item menu-button" href="upload.html">画像を投稿</a>
                <div style="width:48px"></div>
            </div>
            <div style="height:0px"></div>
            <div style="display: flex; flex-direction: column; align-items: center">
                <p class="menu-item">"{{ mi.keyword }}"のユーザーが最近評価したタグ</p>
                <div class="menu-row">
                    {% for recent_tag_name in recent_tag_names %}
                    <a class="menu-item" href="upload.html">{{ recent_tag_name }}</a>
                    <div style="width:24px"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <p id="copied-message">コピーしました！</p>
        <div id="main">
            <div class="shelf">
                <div class="book">
                    <p id="subtitle">新着</p>
                    <div class="carousel">
                        {% for recent_meme in recent_memes %}
                        <div class="miim-item">
                            <input type='image' class="meme" src="{{ recent_meme.image_url }}" onclick="message_copied()">
                            <div class="tag-list">
                                {% for tag in recent_meme.tags %}
                                <div class="tag">
                                    <input type="image" class="vote-tag-up" src="{% static 'sites/img/vote-tag-up.png' %}">
                                    <p class="tag-word">{{ tag.tag_name }}</p>
                                    <input type="image" class="vote-tag-down" src="{% static 'sites/img/vote-tag-down.png' %}">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="recommend">関連画像</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="book">
                    <p id="subtitle">トレンド</p>
                    <div class="carousel">
                        {% for trend_meme in trend_memes %}
                        <div class="miim-item">
                            <input type='image' class="meme" src="{{ trend_meme.image_url }}" onclick="message_copied()">
                            <div class="tag-list">
                                {% for tag in trend_meme.tags %}
                                <div class="tag">
                                    <input type="image" class="vote-tag-up" src="{% static 'sites/img/vote-tag-up.png' %}">
                                    <p class="tag-word">{{ tag.tag_name }}</p>
                                    <input type="image" class="vote-tag-down" src="{% static 'sites/img/vote-tag-down.png' %}">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="recommend">関連画像</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="shelf">
                <div class="book">
                    <p id="subtitle">お気に入り</p>
                    <div class="carousel">
                        {% for favorite_meme in favorite_memes %}
                        <div class="miim-item">
                            <input type='image' class="meme" src="{{ favorite_meme.image_url }}" onclick="message_copied()">
                            <div class="tag-list">
                                {% for tag in favorite_meme.tags %}
                                <div class="tag">
                                    <input type="image" class="vote-tag-up" src="{% static 'sites/img/vote-tag-up.png' %}">
                                    <p class="tag-word">{{ tag.tag_name }}</p>
                                    <input type="image" class="vote-tag-down" src="{% static 'sites/img/vote-tag-down.png' %}">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="recommend">関連画像</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="book">
                    <p id="subtitle">関連画像</p>
                    <div class="carousel">
                        {% for related_meme in related_memes %}
                        <div class="miim-item">
                            <input type='image' class="meme" src="{{ related_meme.image_url }}" onclick="message_copied()">
                            <div class="tag-list">
                                {% for tag in related_meme.tags %}
                                <div class="tag">
                                    <input type="image" class="vote-tag-up" src="{% static 'sites/img/vote-tag-up.png' %}">
                                    <p class="tag-word">{{ tag.tag_name }}</p>
                                    <input type="image" class="vote-tag-down" src="{% static 'sites/img/vote-tag-down.png' %}">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="recommend">関連画像</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div style="width:48px"></div>
        <a href="index.html">トップ</a>
        <div style="width:48px"></div>
        <a href="term.html">利用規約</a>
        <div style="width:48px"></div>
        <a>問い合わせ</a>
    </footer>
</html>
